<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="gbsource" connectionString=""/>
    <add name="dpsource" connectionString="data source=192.168.0.116\econ;initial catalog=cmis-lyt;user id=sa;password=cxc"/>
    <add name="gbrelated" connectionString=""/>
    <add name="dprelated" connectionString="data source=192.168.2.100\MSSQLSERVER08;initial catalog=AIS20161110151758;user id=sa;password=123456"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="gbsource" connectionString=""/>
    <add name="dpsource" connectionString="data source=192.168.44.128;initial catalog=dp;user id=sa;password=123456"/>
    <add name="gbrelated" connectionString=""/>
    <add name="dprelated" connectionString="data source=192.168.44.128;initial catalog=AIS20150130113659;user id=sa;password=123456"/>
  </connectionStrings>-->
</configuration>