<?xml version="1.0" encoding="utf-8" ?>
<sources cycle="5" backCycle="24" mainData="WH">
  <source name="WH">
    <connectionString value="data source=192.168.7.73;initial catalog=AIS20090714202245;user id=zxt;password=Genuineznzd@2016"></connectionString>
    <planCodePrefix value="JP"></planCodePrefix>
    <line value="HW"></line>
  </source>
  <!--<source name="XG">
    <connectionString value="data source=192.168.7.73;initial catalog=AIS20160422085723;user id=zxt;password=Genuineznzd@2016"></connectionString>
    <planCodePrefix value="BB,BY"></planCodePrefix>
    <line value="FH"></line>
  </source>-->
</sources>